.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  &--form-submit {
    height: 36px;
    margin-top: 12px;
    color: white;
    background: black;
    padding: 8px;
    width: 100%;
    border: none;
  }
}
