.small-modal {
  &--heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 24px;

    h3 {
      margin: 0px;
      font-weight: 400;
      font-size: 24px;
    }
  }

  &--content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 24px;
  }

  &--actions {
    display: flex;

    button:first-child {
      margin-right: 8px;
    }
  }
}
