.work-management {
  display: flex;
  flex-direction: column;
  width: 100%;

  &--form {
    display: flex;
    flex-direction: column;
   
    padding: 16px;

  

    input,
    textarea {
      max-width: none;
    }
  }

  &--flex {
    display: flex;
    flex-direction: row;
  }

  &--img-section {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &--actions {
    // position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 4px;
  }

  &--image-list-wrapper {
    width: 100%;
    overflow: auto;
    height: calc(100vh - 280px);
    padding-top: 16px;
  }

  &--image-list {
    display: flex;
    flex-wrap: wrap;
  }

  &--image-wrapper {
    position: relative;

    button {
      position: absolute;
      right: -1px;
      top: -1px;
      border: 1px solid rgb(211 211 211);
      background-color: #f9f8f6;
    }

    img {
      padding: 8px;
      margin: 4px;
      height: 120px;
      width: 120px;
      object-fit: contain;
      background: rgb(211 211 211);
    }
  }
}
