.app {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  height: inherit;
  overflow: hidden;

  &--heading {
    display: flex;
    justify-content: flex-end;

    h1 {
      padding: 42px;
      margin: 0px;
    }

    &--mobile {
      justify-content: center;

      h1 {
        text-align: center;
        font-size: 14px;
        padding-top: 56px;
        padding-bottom: 0px;
      }
    }
  }

  &--content {
    display: flex;
    width: 100%;
    height: 100%;

    &--mobile {
      flex-direction: column;
      height: 100%;
    }
  }
}

.dark {
  background-color: black;
  color: aliceblue;
}

// .animate-enter {
//   opacity: 0.1;
// }

// .animate-enter .animate-enter-active {
//   opacity: 1;
//   transition: opacity 200ms ease-in;
// }

// .animate-leave {
//   opacity: 1;
// }

// .animate-leave.animate-leave-active {
//   opacity: 0.1;
//   display: none;
//   transition: opacity 0ms ease-in;
// }
