.app {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  height: inherit;
  overflow-y: auto;

  &--heading {
    display: flex;
    justify-content: flex-end;
    height: 124px;

    h1 {
      padding: 42px;
      margin: 0px;
    }

    &--mobile {
      justify-content: center;
      height: auto;

      h1 {
        text-align: center;
        font-size: 14px;
        padding-top: 56px;
        padding-bottom: 0px;
      }
    }
  }

  &--content {
    display: flex;
    width: 100%;
    overflow: hidden;

    &--page {
      width: 100%;
    }

    &--mobile {
      flex-direction: column;
    }
  }
}

.dark {
  background-color: black;
  color: aliceblue;
  overflow: hidden;
  user-select: none;
}
