.management {
  width: 100%;
  height: 100%;
  display: flex;

  &--work-list {
    min-width: 380px;
  }

  &--placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
  }
}
